body {
  background-color: rgb(32, 32, 53);
  color: rgb(252, 251, 249);
  font-family: "Oxygen", sans-serif;
}

.weather-app {
  background-color: rgb(246, 246, 255);
  color: rgb(58, 58, 164);
  max-width: 700px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 8px 0px rgba(71, 49, 153, 0.08);
  border: 1px solid;
}

header {
  border-bottom: 1px solid rgb(224, 224, 246);
  padding: 0px 0px 30px 0px;
}

.search-input {
  background-color: white;
  padding: 15px 20px;
  border: none;
  width: 80%;
  font-size: 20px;
  border-radius: 7px;
  color: rgb(32, 32, 53);
}

.search-button {
  background-color: rgb(32, 32, 53);
  color: rgb(246, 246, 255);
  font-family: "Oxygen", sans-serif;
  padding: 15px 30px;
  border-radius: 7px;
  font-size: 16px;
  border: none;
  margin-left: 5px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

main {
  padding: 15px 0;
}

.current-city {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 10px;
}

.current-time-condition {
  color: rgb(117, 117, 211);
  margin-top: 0;
}

.current-time-condition strong {
  color: rgb(58, 58, 164);
}

.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.current-temp {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.condition-type {
  display: flex;
  justify-content: space-between;
}

.weather-app-icon {
  width: 65px;
  height: 65px;
}

.current-description {
  font-size: 40px;
}

footer {
  border-top: 1px solid rgb(224, 224, 246);
  padding: 30px 0 0 0;
  text-align: center;
}
